
body{
    background-color:#f4f7fc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* Dashboard Title */
h2{
    font-weight:700;
    color:#1f2937;
}

/* KPI Cards */
.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card-body h5{
    font-weight:600;
    color:#555;
}

.card-body h3{
    font-size:2rem;
    font-weight:bold;
}

/* Main Chart */
.card-header{
    background:#0d6efd;
    color:white;
    font-weight:600;
    font-size:18px;
}

/* Alert Box */
.alert{
    border-radius:15px;
}

.alert h5{
    font-weight:bold;
}

/* System Status */
.status-card{
    border-left:5px solid #198754;
}

/* Shadows */
.shadow{
    box-shadow:0px 5px 20px rgba(0,0,0,0.08)!important;
}

/* Responsive */
@media(max-width:768px){

    .card{
        margin-bottom:20px;
    }

}